.table {
    width: 100%;
    .table__tr {
        border-bottom: 1px solid grey;
        &:nth-of-type(even) {
            background: lightgrey;
        }
    }
    .table__td {
        padding: 0 .25rem;
        height: 3.5rem;
        vertical-align: middle;
        font-size: $font-size-sm;
        color: $dark-secondary;
    }
}