<nav class="navbar navbar-light bg-light">
    <div><a class="navbar__brand" [routerLink]="'/home'" routerLinkActive="active" name='home'>Strona główna</a></div>
    <div><a class="navbar__brand" [routerLink]="'/user/registration'" routerLinkActive="active" *ngIf="!authService.isAuthenticated" name='registration'>Rejestracja</a></div>
    <div><a class="navbar__brand" [routerLink]="'/user/login'" routerLinkActive="active" *ngIf="!authService.isAuthenticated" name='login'>Zaloguj</a></div>
    <div><a class="navbar__brand" (click)="loginOut()" *ngIf="authService.isAuthenticated" name='loginOut'>Wyloguj</a></div>
    <div><a class="navbar__brand" [routerLink]="'/user/contact'" routerLinkActive="active" name='contact'>Kontakt</a></div>
    <div><a class="navbar__brand" [routerLink]="'/user/profile'" *ngIf="authService.isAuthenticated" name='profile'>Profil</a></div>
    <div><a class="navbar__brand" [routerLink]="'/list-announcements'" *ngIf="authService.isAuthenticated" name='listAnnouncements'>Lista ogłoszeń</a></div>
    <div *ngIf="authService.isAuthenticated"><strong>Cześć, {{authService.getCurrentUser()}} </strong></div>
</nav>
<button *ngIf="authService.isAuthenticated" class="btn btn-default link__button--save" [routerLink]="'/announcement/category'" routerLinkActive="active">Dodaj ogłoszenie</button>
<router-outlet></router-outlet>
