@import "./reset.scss";
@import "./variables.scss";
.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    .app__page {
        width: 100%;
        background: #fafafa;
    }
}

h2 {
    font-size: $font-size-xl;
    color: $dark-secondary;
}

h3 {
    font-size: $font-size-md;
    color: $dark-disabled;
    text-transform: uppercase;
}

label {
    font-size: $font-size-sm;
    color: $dark-secondary;
}
