$boxShadow: inset -10px -10px 100px #c8ced5,
10px 10px 20px #c8ced5,
inset 0 0 10px #c8ced5;
$border: 1px #222 solid;
$font-size-xxs: .625rem;
$font-size-xs: .75rem;
$font-size-sm: .9rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
$light: #fff;
$dark: rgba(#000, .87);
$dark-secondary: rgba(#000, .54);
$dark-disabled: rgba(#000, .38);
